<div class="title-section">
    @if(modifyOn$ | async){
        <h1 class="title">MODIFICA TU JUEGO</h1>
    } @else{
        <h1 class="title">AGREGA TU JUEGO</h1>
    }
    
</div>
<section class="container-game-form">
    <div>
        
        <form action="" class="game-form" [formGroup]="gameForm" >
            <p class="tx-danger">{{registerError}}</p>
            <div class="container-input-label">
                <label for="title">Título</label>
                <input formControlName="title" type="text" name="title" id="title" required>
            </div>
            <div class="container-prices">
                <div class="container-input-label">
                    <label for="price">Precio</label>
                    <input formControlName="price_normal" type="number" name="price" id="price" min="0" required>
                </div>
                <div class="container-input-label">
                    <label for="price_off">Precio oferta</label>
                    <input formControlName="price_off" type="number" name="price_off" id="price_off" min="0" required>
                </div>
            </div>
                        
            
            <div class="container-input-label">
                <label for="description">Descripción</label>
                <textarea formControlName="description" name="description" id="description" required>

                </textarea>
            </div>
            
            <div class="container-input-label">
                <label for="type">Tipo</label>
                <select formControlName="type" type="select" name="type" id="type" required>
                    <option value="exclusive">Exclusive</option>
                    <option value="gratis">Gratis</option>
                    <option value="nuevo">Nuevo</option>
                    <option value="off">Off</option>
                    <option value="ya-es-tuyo">Ya es tuyo</option>
                </select>
            </div>
            <div class="container-prices">
                <div class="container-input-label">
                    <label for="bought">Comprado</label>
                    <select formControlName="bought" type="select" name="bought" id="bought" required>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div class="container-input-label">
                    <label for="qualification">Calificación</label>
                    <input formControlName="qualification" type="number" name="qualification" id="qualification" min="0" max="5" required>
                </div>
            </div>
            <div class="container-input-label">
                <label for="gameImage">Imagen</label>
                <input formControlName="gameImage" type="file" name="gameImage" id="image" accept="image/*" (change)="onChange($event)" required>
            </div>
            <div class="container-btns">
                <!-- <button class="btn-form-game">Agregar</button> -->
                @if(modifyOn$ | async){
                    <button class="btn-form-game" type="submit" (click)="updateGame()" >Modificar</button>
                } @else{
                    <button class="btn-form-game" type="submit" (click)="addGame()">Guardar</button>
                }
                <button class="btn-form-game btn-delete" (click)="clear()">Vaciar</button>
            </div>
            

        </form>
    </div>
    
    <div class="container-card">
        <h4>Vista preliminar</h4>
        <app-game [game] = "game" [test]="true"></app-game>
    </div>
    
</section>
